# Ignore virtual environment
recipe-app-env/

# Ignore Python bytecode
__pycache__/

# Ignore local settings
.env

# Ignore logs
*.log

# Ignore cache files
*.cache

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore test files
test/
tests/
*.test

# Ignore any files in the .vscode directory
.vscode/

# Ignore any other temporary files or directories
*.swp
.DS_Store
Thumbs.db
